

.highlight {

    background-color: yellow;
    border-radius: 10px;
    padding: 2px 4px;
    -webkit-text-stroke: 1px black;
    text-decoration: wavy;

}

.icon-color{
  color: #efb90b;
}

.realistic-marker-highlight{
  position:relative;
  color: black;
  /* margin-left: 15px; */
  font-weight: 700;
}
.realistic-marker-highlight:before{
  content:"";
  background-color:yellow;
  width:100%;
  height:1.3em;
  top: -0.1em; /* Adjust the em value as needed */
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  /* left:-0.25em; */
  top:-0.05em;
  /* padding:0 0.30em; */
}

.realistic-marker-highlight-small-text{
  position:relative;
  color: black;
  /* margin-left: 15px; */
  font-weight: 300;
}
.realistic-marker-highlight-small-text:before{
  content:"";
  background-color:yellow;
  width:100%;
  height:1.3em;
  top: -0.1em; /* Adjust the em value as needed */
  position:absolute;
  z-index:-1;
  filter:url(#marker-shape);
  /* left:-0.25em; */
  top:-0.05em;
  /* padding:0 0.30em; */
}

.features-icon{
  color: #013f78;
  padding-bottom: 10px;
  padding-right: 15px;
}

.other-headline{
  padding-bottom: 10px; 
  font-weight: 500; 
  font-size: large;
}

/* For screens larger than 768px */
@media (min-width: 768px) {
    .section-left {
      /* Image is positioned left */
      img {
        float: left;
      }
    }
  
    .section-right {
      /* Image is positioned right */
      img {
        float: right;
      }
    }
  }
  
  /* For screens smaller than 768px */
  @media (max-width: 768px) {
    .section-left, .section-right {
      /* Image is positioned at the bottom */
      img {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
  